/*background color and font style*/
body {
    /* background: linear-gradient(0.25turn, #19388d,  #288ae7, #19388d); */
      background-image: url('https://wallpaperaccess.com/full/3620560.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  border: 2px solid;
  color: pink;
    color: rgb(250, 243, 255);
    text-shadow: black 1.5px 1px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.5;
    margin: 15px 170px 15px 170px;
    border-radius: 20px;
    padding: 10px;
}
/*header has larger text and aligned to center of screen*/
h1 {
    text-shadow: black 3.5px 3px;
    font-size: 38px;
    text-align: center;
    margin-bottom: -10px;
}
h2 {
    text-shadow: black 3.5px 3px;
    font-size: 30px;
    text-align: center;
}
h3 {
    text-shadow: black 3.5px 2.5px;
    font-size: 30px;
    background: linear-gradient(#572a8b, #903960);
    border-radius: 20px;
    padding: 10px;
}
.img {
    text-align: center;
    border-radius: 30px;
    padding: 20px;
}
.back {
    background: linear-gradient(#572a8b, #903960);
    margin: 0px 90px 0px 90px;
    border-radius: 20px;
    padding: 10px;
}
/*navbar has background color and links to sections in webpage*/
.navbar {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 50px;
    background: linear-gradient(#572a8b, #903960);
    margin-top: 2px;
    border-radius: 20px;
    padding: 10px;
}
/*for image to grow when used with hover*/
.overlay {
    display: flex;
    flex-direction: row;
    padding: 25px;
    width:150px;
    height:150px;
}
#bold {
    text-shadow: black 2.5px 1.5px;
}
/*list of projects in a row*/

#project2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
/*image will grow when hovered on*/
.overlay:hover {
    transform:scale(1.3);
}